@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData["DisplayMenu"] = false;
    ViewData["Title"] = "Аутентификация";
}

<div class="container">
<h1>
    Авторизация!!!
</h1>
    <form method="get">
        E-mail:
        <br />
        <input type="email" name="Email" placeholder="email..." />
        <br />
        <br />
        Пароль:
        <br />
        <input type="password" name="Password" placeholder="password..." />
        <br />
        <input type="submit" value="Войти" />
    </form>
</div>