input[type=button] {
    border: 10px;
    font-size: 20px;
    background: #5cd3e9;
    margin-right: 30px;
    padding: 10px 30px;
    transition: 0.5s;
}

input[type=button]:hover {
    background: #01124a;
    color: #5cd3e9;
}

.container {
    background-color: white;
}
