@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "О проекте";
}

<div class="block">
    <div class="bunner">
        <img src="~/img/symbols/ranhigs.png">
        <img src="~/img/symbols/bmstu.png">

        <div class="bunner-title">
            <b>Экспертный</b> инструмент
        </div>
    </div>
</div>

<div class="block">
    <div class="block-title">
        Информация о проекте
    </div>
    <div class="block-content">
        Экспертный инструмент - это реализованная в виде веб-приложения технология оценивания политических акторов сокращённая MMPI. Проект разработан совместными усилиями РАН ХИГС и социо-технической лабораторией МГТУ им. Н. Э. Баумана
    </div>
</div>