@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData["DisplayMenu"] = false;
    ViewData["Title"] = "Авторизация";
    ViewData["Styles"] = new string[] {"/css/auth.css"};
}

    <div class="block">
        <div class="bunner">
            <img src="~/img/symbols/ranhigs.png">
            <img src="~/img/symbols/bmstu.png">

            <div class="bunner-title">
                <b>Экспертный</b> инструмент
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-title">
            Авторизация
        </div>
        <div class="block-content">
            @if (ViewBag.Error != null)
            {
            <div class="error"> 
                <span class="error"> @ViewBag.Error </span>
            </div>
            <hr>
            }
            <form method="post">
                E-mail
                <br>
                <input type="email" name="email" value="@ViewBag.Email"required>
                <br> Пароль
                <br>
                <input type="password" name="password" value="@ViewBag.Password" required>
                <br>
                <input type="submit" value="Войти">
                <input type="reset" value="Очитстить">
            </form>
        </div>
    </div>
       
