@{
    ViewData["Title"] = ViewBag.Person.Name;
    ViewData["Styles"] = new string[] { "/css/person.css" };
}@
    <link rel="stylesheet" type="text/css" href="css/task.css">

<div id="task-page">
            
    <!-- content section -->
    <section id="content-sec">
        <div class="container">
            <div id="sidebar">
                <!-- add your content here -->
            </div>
            <div id="content">
                <h3 class="title">
Дональд Трамп
</h3>
<p id="task-content">
Дональд Джон Трамп (Donald John Trump) родился 14 июня 1946 года в районе Квинс Нью-Йорка, США. Его отец Фредерик Трамп был строителем, застройщиком, специализировавшемся на разработке и воплощении в жизнь проектов жилья для среднего класса в районах Квинс, Статен-Айленд и Бруклин. <br><br>

В возрасте 13 лет родители отправили Дональда в Нью-Йоркскую военную академию. В академии Трамп добился больших успехов: к моменту выпуска в 1964 году он стал блестящим атлетом и лидером среди учеников. После этого Дональд поступил в Фордхемский университет, но вскоре перевелся в Уортонскую школу финансов при Пенсильванском университете, которую окончил в 1968 году.<br><br>

После окончания университета Дональд начал работать в компании отца, в 1975 году он стал ее президентом и изменил название компании на Trump Organization.<br><br>

В 1971 году Трамп перевел офис компании на Манхэттен. Одним из первых самостоятельных проектов Трампа стало строительство бизнес-центра на участке земли разорившейся Центральной железной дороги в западной части Манхэттена. <br><br>

В 1974 году Трамп приобрел один из отелей компании Penn Central, Commodore, являющийся убыточным, но имевшим удачное местоположение в непосредственной близости от Центрального вокзала Нью-Йорка. В 1975 году Трамп подписал соглашение о партнерстве с корпорацией Hyatt Hotel. Когда, в 1980 году, новый отель, переименованный в The Grand Hyatt, открылся, он тут же приобрел широкую популярность. Следующий проект Дональда Трампа сделал его известным на весь Нью-Йорк — это был 58-этажный небоскреб Trump Tower на 5-й авеню, открытый в 1982 году.<br><br>

В последствие бизнесмен продолжил называть именем самого себя свои дальнейшие проекты: Trump Parc, Trump Palace, Trump Plaza, The Trump World Tower and Trump Park Avenue, Trump International Hotel & Tower, The Trump Building и др.<br><br>

Через компанию Trump Hotel Collection бизнесмен владеет сетью отелей в городах США: Лас-Вегасе, Чикаго, на Гавайях, Майами; а также в городе Панаме (Панама) и Торонто (Канада). В ближайшее время запланировано открытие отелей в Ванкувере (Канада), Рио-де-Жанейро (Бразилия) и Вашингтоне (США).<br><br>

Дональд Трамп также владеет сетью площадок для гольфа в США, Шотландии (Великобритания), ОАЭ, Ирландии.<br><br>

Трамп является совладельцем и исполнительным продюсером конкурсов красоты Мисс Вселенная, Мисс США и юная Мисс США в партнерстве с NBC.<br><br>

В 2005 году Дональд Трамп запустил собственную линию одежды Donald J. Trump Signature Collection, позже бизнесмен начал выпуск товаров для дома под маркой Trump Home. В 2012 году Трамп в партнерстве с PARLUX запустил собственный аромат Success by Trump. В 2015 году был запущен второй аромат Empire.<br><br>

В 2004 году Трамп стал исполнительным продюсером и ведущим реалити-шоу "Ученик" на канале NBC. Шоу имело высокие рейтинги, и было трижды номинировано на премию Emmy. В течение нескольких лет Трамп также был ведущим шоу The Celebrity Apprentice.<br><br>

Дональд Трамп — автор целого ряда книг о бизнесе, которые стали настоящими бестселлерами, среди них "Искусство сделки" (1987), "Выживание на вершине" (1991), "Искусство возвращения", (1997), "Америка, которую мы заслуживаем" (2000), "Как стать богатым" (2004), "Трамп: путь к вершине" (2004), "Трамп: Думай как миллиардер (2004) и др.<br><br>

16 июня 2015 года Дональд Трамп официально заявил о выдвижении своей кандидатуры на пост президента США. <br><br>

26 мая 2016 года он объявил, что ему удалось собрать достаточно голосов делегатов, чтобы выдвинуться кандидатом на пост президента США от Республиканской партии. По данным Ассошиэйтед Пресс, Трамп заручился поддержкой 1238 делегатов съезда, для выдвижения необходимо 1237 голосов.<br><br>

Дональд Трамп женат третьим браком на Мелании Кнаусс (Melania Knauss). У бизнесмена пятеро детей.<br><br>

Forbes оценивает состояние Дональда Трампа в 4,5 миллиарда долларов. Он занимает 113-е место в рейтинге самых богатых людей США, в рейтинге самых богатых людей на планете Трамп находится на 324-м месте.<br><br>
                                                   
РИА Новости https://ria.ru/spravka/20160718/1466909099.html
</p>
                <hr class="separator">
                <div id="images">
                    <img src="img/db/donald-trump-1.jpg">
                </div>
                <hr class="separator">
            </div>
            <div class="clear"></div>
            <form id="evaluation" name="evaluation" method="post" action="task">
                <h3 class="title"> Экспертная оценка </h3>
                <div id="scales">
                    <!-- <div class="scale"> <input type="number" size="4" min="0" max="100"  required> Hypochondriasis <br><br> </div> -->
                    <div class="scale"> <input type="range" min="0" max="100" size="4" required> Гипохондрия <br><br> </div>
                    <div class="scale"> <input type="range" min="0" max="100" size="4" required> Депрессия<br><br></div>
                    <div class="scale"> <input type="range" min="0" max="100" size="4" required> Истерия<br><br></div>
                    <div class="scale"> <input type="range" min="0" max="100" size="4" required> Психопатические отклонения<br><br></div>
                    <div class="scale"> <input type="range" min="0" max="100" size="4" required> Феминность - мускулинность<br><br></div>

                    <div class="scale"> <input type="range" min="0" max="100" size="4" required> Паранойя<br><br></div>
                    <div class="scale"> <input type="range" min="0" max="100" size="4" required> Психастения<br><br></div>
                    <div class="scale"> <input type="range" min="0" max="100" size="4" required> Шизофрения<br><br></div>
                    <div class="scale"> <input type="range" min="0" max="100" size="4" required> Гипомания<br><br></div>
                    <div class="scale"> <input type="range" min="0" max="100" size="4" required> Социальность - интроверсия<br><br></div>
                </div>                            
                <div id="comment">
                    Комментарии <br><br>
                    <textarea name="comment" placeholder="При желании напишите здесь свои комментарии."></textarea>
                </div>
                <div id="buttons">
                    <input type="submit" value="Отправить">
                    <input type="reset" value="Очистить">
                </div>
            </form>
        </div>
    </section>
</div>       