@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (ViewBag.RegisteredUser is Expert)
    {
        ViewData["Title"] = "Эксперт";
    }
    else if (ViewBag.RegisteredUser is Admin)
    {
        ViewData["Title"] = "Администратор";
    }
}

<div class="block">
    <div class="block-title">
        @ViewData["Title"]
    </div>
    <div class="block-content">
        @if (ViewBag.Error != null)
        {
            <span class="error">@ViewBag.Error</span>
            <hr>
        }
        @if (ViewBag.Success != null)
        {
            <span class="success">@ViewBag.Success</span>
            <hr>
        }

        <form method="post">
            E-mail
            <br>
            <input type="email" name="Email" required>
            <br> Пароль
            <br>
            <input type="text" name="Password" required>
            <br> ФИО
            <br>
            <input type="text" name="Name" required>
            <br> Должность и место работы
            <br>
            <input type="text" name="Position">
            <br> Дата рождения
            <br>
            <input type="date" name="Birthday">
            <br> Телефонный номер
            <br>
            <input type="tel" name="Phone">
            <br>
            <input type="submit" value="Сохранить">
            <input type="reset" value="Очистить">
        </form>
    </div>
</div>


