@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Личный кабинет";
}
<div class="block">
    <div class="block-title">
        Персональные данные
    </div>
    <div class="block-content">
        @Html.Partial("Partial/UserForm")
    </div>
</div>

